body{
    font-size: 16px;
  }

  h1 {
      font-family: sans-serif;
      size: 65px;
      color: orange;
      text-decoration: underline;
  }

  p {
    font-weight: 600;
    font-size: 48px;
    text-decoration: underline;
  }

  ul {
      text-align: left;
      line-height: 130%;
      font-style: italic;
      background-color: pink;
  }


  /* Posso modificar as cores de fundo da ul e do p desta forma também: */
  /* ul, p {
      background-color: aquamarine;
  } */

  .background-color {
      background-color: aquamarine;
  }

  .yellow-background {
    background-color: yellow;
  }

  .red-background {
    background-color: red;
  }

  .brown-background {
    background-color: brown;
  }